# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
coverage/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pyright
.typestub/

# Environments
.env
.env.local
.venv
.venv/
venv/
ENV/
env/
.env.bak/
venv.bak/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log
*.out

# Local configuration
*.local

# Docker
*.dockerignore
Dockerfile

# FastAPI specific
path_to_save_model/
path_to_save_tokenizer/
# newmodel_with_attention.pkl
# newmodel_with_attention.json
newmodel_with_attention_weights.weights.h5

# Machine learning models
cnn_classifier_model.h5
# xgb_classifier_model.pkl

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Other
*.sqlite3
*.db

# Machine learning models
hair/haiClassification_mask.pth
# hair/hair_care_recommendations.pkl
hair/hair_maskrcnn.pth

bert_lstm_model2.pth